
.header {
    position: relative;
    margin-top: 20px; /* Reduced space above */
    text-align: center;
    z-index: 2;
    padding: 10px 0; /* Reduced padding for header */
}

.header .background-text {
    position: absolute;
    margin-top: 5px; 
    left: 0;
    top: 30%; /* Adjusted top position to reduce space */
    transform: translateY(-50%);
    font-family: "PunchGradientItalic";
    pointer-events: none;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    z-index: 1;
letter-spacing: 30px;
}

.header .title {
margin-top: 15px;
    position: relative;
    z-index: 2;
    top: 0px; /* Reduced space between background text and title */
    color: white;
    font-family: 'ANDMOREY Regular';
    padding: 10px 0; /* Reduced padding for title */
    background-color: transparent;
    white-space: nowrap;
    letter-spacing: 10px; /* Added letter-spacing */
}

.card {
    width: 100%; /* Use full width */
    max-width: 250px; /* Limit maximum width */
    height: 150px; /* Reduced height */
    margin: 3px auto; /* Reduced margin */
    background-color: black;
    color: white;
    border: 4px solid white;
    border-radius: 15px;
    position: relative; /* Needed for overlapping title */
}

.card-img-top {
    height: 90px; /* Reduced image height */
    object-fit: cover;
}

.title-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: -2px; /* Reduced space above the card title */
}

.title-container .title-box {
margin-top: 5px;
    top: 150%;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 30px; /* Reduced font size */
    font-family: 'ANDMOREY Regular';
    padding: 5px;
    text-align: center;
    background-color: transparent;
    letter-spacing: 2px; /* Added letter-spacing */
}

.title-container .background-text {
    position: absolute;
    left: 0px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 50px; /* Reduced background text size */
    font-family: "PunchGradientItalic";
    pointer-events: none;
    text-align: center;
    width: 100%;
    letter-spacing: 10px; /* Added letter-spacing */
}

.facilities-section {
    background-color: black;
    background-image: url(../img/bg1.png);
    background-position-x: right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: hidden; /* Disabled scrolling */
}

.container {
    padding: 0;
}
